@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.card {
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 20px rgba(92, 106, 2, 0.2);
  background-color: rgba(30, 24, 24, 0.9);
}
